/******* INDEX ********/
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
a {
	color: #454f57;
}

/* NAVBAR */
ul li {
	display: inline;
}

#nav .navbar-default {
	background: #252525;
	border-radius: 0;
	height: 55px;
	border-bottom: 2px solid #FF0000;
}
#nav .navbar-header {
	height: 100%;
}
#nav .navbar-header .navbar-brand {
	padding: 18px 24px;
	height: 100%;
	background: #000;
}
#nav .navigation a {
	color: #FFF;
	font-weight: bold;
}
#nav .navigation a:hover {
	color: #B3B3B3;
}
#nav .navigation {
	border-left: 1px solid #363636;
	height: 52px;
}
#nav .last {
	border-right: 1px solid #363636;
	height: 52px;
}
#nav ul li a.logo {
	width: 100%;
	height: auto;
	padding: 3px 50px;
}
#nav .nav li ul.socials {
	padding: 17px 20px;
}
#nav .nav li ul.socials li a {
	cursor: pointer;
	padding: 0 5px;
	color: #FFF;
}
#nav .nav li ul.socials li a:hover {
	color: #B3B3B3;
}
#nav .nav li.search-icon a {
	color: #FFF;
}


/* PRIMARY */
.primary {
	width: 850px;
	float: left;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background: rgba(0, 0, 0, 0.82);
	text-shadow:none;
	width: 540px;
}
#myCarousel .carousel-caption a {
	color: #259CFF;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Tahoma;
}
#myCarousel .carousel-inner {
	width: 95%;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
	padding-right: 0;
}
#myCarousel .list-group-item {
	height: 65px;
	border-radius:0px;
	cursor:pointer;
	border: none;
	border-bottom: 2px solid #DDD;
	padding: 10px 0;
}

#myCarousel .list-group-item.active {
	border-bottom: 1px solid #DDD;
	color: #000;
}
#myCarousel .list-group-item:last-child {
	border-bottom: none;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}
#myCarousel h3.slide-title, .e-title {
	font-family: 'Gotham-ultra';
	color: #454f57;
	margin-top: 0;
}
#myCarousel .list-group li h4 {
	font-size: 14px;
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%; padding-bottom: 20px;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
#myCarousel {
	border-bottom: 1px solid #ddd;	
}
#myCarousel .item img {
	min-width: 540px;
	min-height: 370px;
}

.main-content {
	padding: 20px;
	border: 1px solid #eee;
}
.news { margin-top: 10px;}
.post {
	margin-top: 20px;
	clear: both;
	border-bottom: 1px solid #eee;
	float: left;
}
.post .thumbnail {
	border: none;
}
.post-avatar {
	width: 30px;
	height: 30px;
}
.post-author {
	padding-left: 5px;
	color: #ddd;
	text-transform: uppercase;
}
.post-left {
	max-width: 283px;
	max-height: 180px;
	float: left;
	overflow: hidden;
}
.post-right {
	float: right;
	max-width: 567px;
	padding: 10px 20px;
}
.post-title  {
	margin-top: 0;
	font-size: 20px;
}
.e-slide-title {font-size: 20px;}
.e-post-title {    font-size: 14px;
    font-weight: bold;}
.post-meta, .post-meta a {
	margin: 20px 0;
	color: #999;
}

.post-meta ul {
	padding-left: 0;
}
.post-meta ul li {
	margin-right: 20px;
}
.sidebar {
	width: 300px;
	float: right;
}
.sidebar .new-title {
	font-family: 'Gotham-ultra';
	font-size: 20px;
}
.sidebar .banner-ads {
	padding-bottom: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
}
.sidebar .sidebar-thumbnail {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.sidebar.sidebar-post {
	padding: 20px 0;
	border-bottom: 1px solid #eee;

}
.sidebar .sidebar-post {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%; 
}
.news .post:last-child {
	border-bottom: none;
}
.big-sep {
	border: 5px solid #ddd;
}
.e-main, .news-main {
	padding-left: 0;
}
.e-post {
	padding-right: 0;
}
.news-thumbnail {
	width: 100%;
	height: auto;
	float: left;
}
.news-title {
	margin-top: 0;
	font-weight: bold;
}
.news-postinfo {
	padding-right: 40px;
	text-align: justify;
}
.e-title {
	padding: 20px 0;
}
.news-related-post {
	padding-bottom: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #eee;
}
.related-title a {
	color: #454f57;
	font-weight: bold;
}
.news-related-post .related-title {
	line-height: 22px;
}
.news-postinfo .post-meta {
	padding-top: 33px;
	padding-bottom: 33px;
}
footer {
	bottom: 0;
}
footer .footer-page {
	/* max-width: 1025px; */
	margin: 0 auto;
}
footer #above {
	padding: 20px 0 10px;
	background: #363636;
}
footer #above ul.bottom-navigation li, footer #above ul li {
	display: inline;
}
footer #above ul.bottom-navigation {
	padding: 20px 0;
}
footer #above ul.bottom-navigation li a {
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid #FFF;
}
footer #above ul.bottom-navigation li:last-child a {
	border: none;
	padding-right: 0;
}
footer #above ul.socials  {
	text-align: center;
	padding: 10px 0 0;
}
footer #above .text-center span {
	color: #FFF;
}
ul.socials li a img:hover {
	outline: 1px solid #FFF;
}
footer #below {
	background: #444444;
}
footer #below .center {
	padding: 16px 0;
	text-align: center;
	font-family: "caviar";
	color: #cccccc;
	font-size: 14px;
}
.news .post .thumbnail, .employer img.full-image {
	width: 100%;
	 -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
    min-height: 160px;
}
img.esubpost {
	max-height: 148px;
}
.news .post .thumbnail:hover, .full-image:hover  {
	width: 120%;
	height: 120%;
}

/*** DETAIL ***/
.detail-left {
	max-width: 200px;
	padding: 20px 20px;
	float: left;
}
.detail-left .avatar {height: 160px; border-radius: 50%;}
.detail-left img {
	width: 100%;
}
.detail-left .author-avatar {
	border-radius: 50%;	
}
.author-name {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin-bottom: 0;
}
.detail-right {
	max-width: 650px;
  	padding: 30px;

  	float: right;
}
.detail-right img {
	width: 100%;
}
.contributor {
	text-align: center;
	color: #666;
	margin-bottom: 50px;
}
.contributor .contributor-name {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 10px;
}
.contributor .contributor-info {
	font-size: 12px;

}
.author-post {
	margin-bottom: 40px;
}
.author-post .author-post-title {
	font-size: 16px;
	color: #666;
}
.detail-right .socials .btn, .connect .btn {
	border-radius: 0;
	padding: 8px 20px;
	font-size: 16px;
	border: none;
}
.detail-right .socials {
	float: left;
}
.detail-right .socials .btn , .connect .btn {
	color: #FFF; 
}
.detail-right .socials .btn span.fa, .connect .btn span.fa {
	font-size: 20px;
}
.detail-right .socials .btn-facebook {
	background: #3c599f;
	border-radius: 2px 0 0 2px !important;
}
.detail-right .socials .btn-twitter {
	background: #33c6f4;
}
.detail-right .socials .btn-linkedin {
	background: #0097bd;
}
.detail-right .socials .btn-plus {
	background: #999999;
	border-radius: 0 2px 2px 0 !important;
}
.connect .btn-comment {
	background: #d80109;
	  border-radius: 2px 0 0 2px;
}
.connect .btn-email, .connect .btn-print {
	background: #999;
}
a.btn.btn-default.btn-print {
	border-left: 1px solid #868686;
	border-radius: 0 2px 2px 0 !important;
}
.detail-right .socials .btn:hover, .connect .btn:hover {
	opacity: 0.8;
}
.detail-date {
	color: #999;
	padding: 20px 0;
}
.detail-info p {
	line-height: 23px;
  	text-align: justify;
}
.detail-info img {
	padding: 30px 0;
}
.btn-all-comment {
	background: #2093d2;
	border: none;
	margin: 20px 0 30px 0;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0;
	text-transform: uppercase;
}
.sidebar-thumbnail:hover {
	border-radius: 0;
}
* {
	transition: border-radius 0.3s, color 0.3s, background 0.3s;
}
.detail-title a:hover, .sidebar-posttitle a:hover, .author-post-title a:hover {
	color: #2093d2;
	text-decoration: none;
}
.sidebar-posttitle {
	margin-top: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.detail-image {
	width: 100%;
	max-height: 100%;
}
.post-meta img{
	border-radius: 50%;
    width: 30px;
    height: auto;
}
.e-slide-title a, .e-post-title a{
	    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.thumbs-left{
	width: 60px;
    display: inline-block;
    float: left;
}
.thumbs-left img {
	max-width: 100%;
	height: 60px;
	border-radius: 50%;
}
.desc-right{
	width: 78%;
    display: inline-block;
    float: right; 
    font-size: 12px;
}
.img_ntd {height: 160px; overflow: hidden;}
.desc-right h4 {font-size: 12px; font-weight: bold;}
.img_290 {height: 300px; overflow: hidden;}
.post-content{text-align: justify;}