/* 
Author: Thong Ho
Email : vndesign09@gmail.com;
*/
@import "http://fonts.googleapis.com/css?family=Calligraffitti";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
     font-family:"Tahoma",Helvetica,sans-serif; font-size: 12px;  line-height: 1.42857143;  
     color: #474747; 
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul, ul {
    list-style:none;
}

img {max-width: 100%;}

blockquote, q {
    quotes:none;
    vertical-align: top;
}
label {font-weight: 600;}

blockquote:after{background: url(../images/before_quote.png) no-repeat; margin: 15px auto 0; content: ''; width: 33px; height: 28px; display: block; }

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}
a {margin:0;padding:0;vertical-align:baseline;background:transparent;text-decoration: none;color: #444; cursor: pointer;}
a:hover {text-decoration: none; color: #f7941d;}
a:link, a:visited {cursor: auto; text-decoration: none;}
a:link:active, a:visited:active {background:transparent !important; text-decoration: none;}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
strong {font-weight: bold;}
em {font-style: italic;}
del {
    text-decoration: line-through;
}

abbr {
    cursor:help;
    margin-left: 7px; color: red;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select, button, textarea,.input-group-addon,.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span,.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    vertical-align:middle;
    border-radius: 0 !important;
}

h1,h2,h3,h4,h5,h6 {margin-bottom: 15px; font-weight: 600; margin-top: 0; }
h1, 
.h1{line-height:20px;font-size:23px;}
h2,
.h2{font-size:20px;}
h3,
.h3{font-size:15px;}
h4,
.h4{font-size:12px;}
h5,
.h5{font-size:11px;}
h6,
.h6{font-size:10px;}
section {margin-bottom: 50px;}
.table thead th {position: relative !important;}
.table thead th:before {  width: 10px;  border-bottom: 2px solid orange;  position: absolute; left: 0; bottom: -2px;  content: "";  /* height: 22px; */}
.table .glyphicon {margin: 0 7px;}
.table thead th {background: #F0F0F0;}
.container {padding-left: 5px; padding-right: 5px;}
@media (min-width: 1200px){
  .container {width: 1020px !important; margin: 0 auto;}
}
.container .sm {width: 700px !important;}
body.modal-open {padding: 0 !important; overflow: visible !important;}
.modal-dialog {margin: 150px auto 30px !important;}
.modal-content {border-radius: 0px !important;}
.boxed-content-wrapper {padding: 125px 0 0 0; margin: 0;}
.main-content{padding: 0 !important; margin-bottom: 30px;}
#content, #sidebar { float: left;}
#content {padding-left: 0 !important; width: 680px; text-align: justify; line-height: 20px;}
#sidebar {width: 300px; float: right;}
.boxed {padding: 20px; box-shadow: 0px 1px 1px #d5d5d5; border:1px #ddd solid; float: left; width: 100%;background: #fff; margin-bottom: 20px;}
.rows {float: left; width: 100%; padding: 20px 0;background: #fff;}
.box {margin: 0 0 20px 0; float: left; position: relative; padding: 15px; border: 1px solid #eaeaea; width: 100%; background: #fff;}
.box:before {width: 10px; height: 10px; border-left: 1px solid #f7941d;border-top: 1px solid #f7941d;content: ""; display: inline-block; position: absolute; top: 0; left: 0;}
.box:after {width: 10px; height: 10px; border-right: 1px solid #f7941d;border-bottom: 1px solid #f7941d;content: ""; display: inline-block; position: absolute; bottom: 0; right: 0;}

/* STYLE */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:5px;padding-right:5px;}
.legend {font-weight: normal;font-style: italic;color: #999999;   font-size: 95%;}
.fixed {position: fixed; top: 0;}
.upc{text-transform: uppercase;}
.relative {position: relative;}
.absolute-right{position: absolute;right: 0; padding: 5px;} 
.absolute-lef{position: absolute;left: 0; padding: 5px;} 
.bg-blue {background: #00b9f2; color: #fff;}
.bg-green {background: #009B31; color: #fff;}
.bg-red {background: #FF0000; color: #fff;}
.bg-orange {background: #f7941d; color: #fff;}
.bg-orange:hover {background: #FFB154; color: #fff;}
.bg-dark {background: #909090; color: #fff;}
.bg-black {background: #161616; color: #fff;}
.bg-gray-light {background: #C2C2C2; color: #fff;}
.bg-silver {background: #f5f5f5;}
.bg-pink{background: #e1819d;}
.bg-purple{background: #8b729c;}
.bg-little-blue{background: #65a0be;}
.bg-little-green{background: #8eb171;}
.bg-yellow{background: #fbb603;}
.bg-blue:hover, .bg-red:hover, .bg-green:hover, .bg-orange:hover,.bg-gray-light:hover {color: #fff;}

.bg-silver-dark {background: #f3f3f3;padding: 30px 0;}
.padding.bg-silver-dark,.padding.bg-silver-light{padding: 30px;}
.bg-silver-light {background: #f5f4f4;}
.block{display: block;}
.hidden-xs {display: none;}

footer.bg-dark,footer.bg-dark:hover {background: #1e1e1e;}
.bg-dark:hover {background:#282b2d; color: #fff;}
.text-red {color: #ff5051;}
.text-blue {color: #00b9f2;}
.text-white {color: #ffffff;}
.text-orange {color: #f7941d;}
.text-green {color: #009B31;}
.text-gray-light{color: #999;}
.text-face {color: #3a5ba2}
.text-google-plus {color: #e02f2f}
.text-linkedin {color: #4b87c7}
.text-yahoo {color: #720e9e}
.text-elegant {color: #82b3c2;}
::-webkit-input-placeholder { /* WebKit browsers */color:#D7D7D7 !important;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#D7D7D7 !important;opacity:  1;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#D7D7D7 !important; opacity:  1;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#D7D7D7 !important;}
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.text-align-center {text-align: center;}
.align-left{float: left;}
.italic {font-style: italic;}
a.decoration,a.decoration:hover, .decoration a, .decoration a:hover {text-decoration: underline;}
.btn-lg.bg-orange,.btn-lg.bg-dark,.btn-lg.bg-blue, .btn-lg.bg-gray-light, .btn-lg.btn-warning {  padding: 6px 30px;  font-size: 20px;  border-radius: 5px !important;}
.navbar-right .pagination li a{color: #999; font-weight: 600; padding:5px 15px}
.navbar-right .pagination li a:hover {background: transparent; color: orange;}
.navbar-right.pagination-sm>li:first-child>a,.navbar-right.pagination-sm>li:first-child>span {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.navbar-right.pagination-sm>li:last-child>a,.navbar-right.pagination-sm>li:last-child>span {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.title {font-size: 50px; text-transform: uppercase; text-align: center; font-weight: 500;}
.desc {text-align: center; font-size: 15px; font-weight: 500; line-height: 25px;}


/* OVERWIRTE BOOTSTRAP AND PLUGINS */
.form-control {border-color: #dddddd !important;color: #555; font-size: 12px; padding: 6px 5px; box-shadow: none !important;}
.push-top-md, .push-top {margin-top: 20px;}
.push-bottom-md, .push-bottom {margin-bottom: 30px;}
.push-bottom-30 {margin-bottom: -30px;}
.form-horizontal .form-group {margin-right: 0; margin-left: 0;}
.progress {height: 10px; border: 1px solid #D7D7D7; margin-bottom: 10px;padding: 2px;}
.jcarousel-control-prev, .jcarousel-control-next {color: #c7c7c7 !important;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 0 5px !important;}
.carousel-control.left,.carousel-control.right {background-image: none; }
.panel {margin-bottom: 20px;background-color: transparent; border: none;box-shadow: none;}
.jcarousel-control-prev {left: -18px !important;}
.jcarousel-control-next {right: -18px !important;}
.jcarousel-wrapper {margin: 20px auto !important;}


.header-page {text-align: center; margin: 30px 0; background: url(../images/bg_title.png) no-repeat bottom center;}
.header-page h2{display: inline-block; font-size: 40px; text-transform: uppercase; font-weight: 500; padding-bottom: 15px;}
.header-title h2{border-bottom: 2px solid #E5E5E5; padding-bottom: 10px;}
.header-post {background: #e9e9e9;width: 70%; color: #555150; text-transform: uppercase;}
.header-post span {  padding: 8px 10px 8px 7px;display: inline-block;margin-right: 10px;border-radius: 0 30px 30px 0;color: #fff;}

.arrow-square-orange li {background: url(../images/arrow_square_orange.png) no-repeat left 6px; padding-left: 15px;   padding-bottom: 7px;}
.arrow-square-blue li {background: url(../images/arrow_square_blue.png) no-repeat left 5px; padding-left: 15px;   padding-bottom: 5px;}
.arrow-right-dark li {background: url(../images/arrow_right_dark.png) no-repeat left 3px; padding-left: 15px;   padding-bottom: 7px;}
.arrow-plus li {background: url(../images/arrow_plus.png) no-repeat left 13px; padding-left: 15px;   padding-bottom: 7px;}
.dotted li {border-bottom: 1px dotted #C0C0C0; padding: 8px 0; float: left; width: 100%;}
.dotted li:last-child, .dotted li ul li {border: none;}
.favorite li{width: 50%;}


.hot-job a strong:after {display: inline-block;width: 26px;height: 10px; background: url(../images/so_hot.png); content: "";  margin-left: 5px;position: absolute;right: 10px;top: 12px;}
.hot-job.lv1 .desc-job {background-color: #00b9f2; color: #fff;}
.hot-job.lv1 .desc-job a, .hot-job.lv1 .desc-job span {color: #fff;}
.boxed-search .new:after {display: inline-block;width: 22px;height: 10px; background: url(../images/new.png); content: "";  margin-left: 5px;}
.clickable { cursor: pointer;}

.tag-xs{display:inline-block;padding:0 10px 0 25px;border-right:1px #d0d0d0 solid;margin:5px;background:url(../images/icons/icon-tag.png) no-repeat;cursor:pointer;overflow:hidden;line-height:21px;height:24px;-webkit-transition:color 0.3s;transition:color 0.3s;}
.tag-xs:hover{background:url(../images/icons/icon-tag.png) no-repeat 0 -36px;border-right:1px #999999 solid;}
#tags-edit .tag-name{display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:440px;vertical-align:middle;}
.tag-xs a{color:#999;font-weight:normal;}
.tag-xs a:hover i{color:#ff5051;}

.push-top-sm {margin-top: 15px;}
.push-bottom-sm {margin-bottom: 15px;}
.row {  margin-left: -5px;  margin-right: -5px;}
.fa-ul li {float: left;}
.bottom-search li {margin: 10px 0 10px 30px; color: #666666; }
.bottom-search li i {font-size: 5px; margin-top: 5px;}
.bottom-search li:first-child {margin-left: 0;}
.bottom h2 {margin: 0 0 20px;}


/* SOCIAL */
.social {text-align: right;}
.social a {display: inline-block; background-repeat: no-repeat; vertical-align: middle; height: 25px; width: 25px; margin-left: 7px;}
.social .rss {background-image: url(../images/social/rss.png);}
.social .facebook {background-image: url(../images/social/facebook.png);}
.social .twitter{background-image: url(../images/social/twitter.png);}
.social .linkedin{background-image: url(../images/social/linkedin.png);}
.social .pinterest{background-image: url(../images/social/pinterest.png);}
.social .dribble{background-image: url(../images/social/dribble.png);}


/* FOOTER */
.support-social {padding: 10px 0; line-height: 25px;}
.support-social .support{margin-right: 10px; border: none;}
.footer {margin: 30px auto;}
.footer h3 {text-transform: uppercase; color: #fff; margin: 0 0 15px;}
.footer a, .footer {color: #B8B8B8;}
.footer a:hover {text-decoration: underline;}
.copy-right {padding: 20px 0; text-align: center; margin: 0;}


/* NAVIGATION */
#navigation ul li {float: left;}
#navigation ul li a {display: block; padding: 20px 30px;  font-size: 14px; font-weight: 600; text-transform: uppercase;}
#navigation ul li:first-child a {padding-left: 0}
#navigation ul li:last-child a {padding-right: 0}
#navigation ul li.logo a {  padding: 10px 0 0;}



.labor-supply, .about-us, .partners{padding: 40px 0;}
.labor-supply .col-sm-3 img {display: block; margin: 0 auto;}
.labor-supply .col-sm-3 {text-align: center; margin: 30px 0 0;}
.labor-supply .col-sm-3 h3 {margin: 30px 0 10px; font-size: 15px; text-transform: uppercase; color: #333;}

.about-us .carousel {background: #fff; border: 1px solid #ddd;}
.about-us .col-sm-8 {margin-left: 30px;}
.about-us .col-sm-8 ul li {width: 32%; display: inline-block; margin-bottom: 15px; text-transform: uppercase; font-weight: 700; color: #666;}
.about-us .col-sm-8 ul li span {width: 40px; margin-right: 10px; display: inline-block; vertical-align: middle;}
.about-us .col-sm-8 ul li img { vertical-align: middle; display: block; margin: 0 auto;}
.about-us .carousel .item {padding: 10px;}
.about-us .carousel-caption {position: static; left: 0; top: 0; padding: 10px 0 0; text-align: left; color: #333; text-shadow: none; text-transform: uppercase; line-height: 20px; font-weight: 600;}
.about-us .carousel-caption img {float: left; margin-right: 5px;}
.about-us .carousel-caption p {margin: 0;}
.about-us .carousel-indicators {bottom: -35px;}
.about-us .carousel-indicators .active {background: #333;}
.about-us .carousel-indicators li {background: #999; }
.about-us .carousel-caption .date {position: absolute; padding:5px 10px; background: #333; opacity: 0.8; color: #fff; top: 20px; left: -10px; margin-left: 10px; font-size: 11px; text-transform: capitalize; font-weight: normal; }
.upp-first-letter {text-transform: uppercase; font-size: 24px; padding: 0px 10px; background: #fa5c5d; color: #fff; font-weight: 700; vertical-align: top; display: inline-block; float: left; margin-right: 5px;}


.partners h2 {margin: 20px 0 40px;}
.partners {background: url(../images/bg_partners.png) no-repeat; height: 546px;}
.partners ul li {margin: 0 5px 20px 0; width: 24.5%;}

.customer-review {padding: 40px 0 0;}
#carousel-custom .item img {width: 100px; display: block; margin: 0 auto; border-radius: 50%;}
#carousel-custom .carousel-caption {position: relative; left: 0; top: 0; text-shadow: none; color: #888;}
#carousel-custom .carousel-caption h2 {font-weight: 400;}
#carousel-custom .carousel-caption span {display: block;}
#carousel-custom .carousel-caption span.text-elegant{font-size: 15px;}
.carousel-control {z-index: 9999;}
.carousel-control img {display: block; position: absolute; top:40%; }
.carousel-control.left img {left: 30px;}
.carousel-control.right img {right: 30px;}
.main-banner img, .banner img{display: block; margin: 0 auto;}
.banner {margin-bottom: 30px;}
#menu-right {background: #f1f5f8; padding: 0px 20px; margin-bottom: 30px; border: 1px solid #ddd;}
#menu-right ul li { border-bottom: 1px solid #ddd;padding: 7px 0;}
#menu-right ul li a {text-transform: uppercase; color: #333; font-weight: 600}
#menu-right ul li:last-child {border: none; }
#menu-right ul li span {display: inline-block; margin-right: 10px; vertical-align: middle; border-radius: 50%; padding: 10px; width:40px; height: 40px;}
#menu-right ul li span img {height: 20px; display: block; margin:  0 auto; width: auto;}


.support { border: 1px solid #ddd; padding: 0 !important;}
.support .carousel-caption {padding: 15px; background: #fff; margin-bottom: 25px;}
.support .carousel-caption blockquote {margin: 0;}
.support .carousel-caption h3 {font-weight: normal; font-size: 25px;}
.support .carousel-control img {width: 10px; top: auto; bottom: 13%;}
.support .carousel-caption:before {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFF;
  content: '';
  position: absolute;
  bottom: -15px;
  left: 43%;
  /* box-shadow: 0 0 10px; */
}
.support ul {padding: 0 20px;}
.support ul li ul {margin: 10px 0 15px 15px; padding: 0}
.support ul li h3 {font-size: 14px; margin-bottom: 10px;}
.support ul li {padding: 3px 0;}
/* SIDEBAR */
.widget {background: #f1f5f8; padding: 15px 20px;}