
@font-face {
    font-family: Gotham-ultra;
    src: url('../fonts/gotham-ultra.eot');
    src: url('../fonts/gotham-ultra?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-ultra.woff') format('woff'),
         url('../fonts/gotham-ultra.ttf') format('truetype'),
         url('../fonts/gotham-ultra.svg#utm_caviarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: caviar;
    src: url('../fonts/utm-caviar.eot');
    src: url('../fonts/utm-caviar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/utm-caviar.woff') format('woff'),
         url('../fonts/utm-caviar.ttf') format('truetype'),
         url('../fonts/utm-caviar.svg#utm_caviarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}